{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://translate.amazonaws.com/"
        },
        {
            "url": "http://translate.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Provides translation between one source language and another of the same set of languages.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Translate",
        "version": "2017-07-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/translate-2017-07-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "translate"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/translate/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "A synchronous action that deletes a custom terminology.",
                "operationId": "DeleteTerminology",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the custom terminology being deleted. ",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "^([A-Za-z0-9-]_?)+$",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetTerminology": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves a custom terminology.",
                "operationId": "GetTerminology",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "TerminologyDataLocation": {
                                            "description": "The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.",
                                            "properties": {
                                                "Location": {
                                                    "description": "The location of the custom terminology data.",
                                                    "maxLength": 10000,
                                                    "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                                    "type": "string"
                                                },
                                                "RepositoryType": {
                                                    "description": "The repository type for the custom terminology data.",
                                                    "maxLength": 10000,
                                                    "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "RepositoryType",
                                                "Location"
                                            ],
                                            "type": "object"
                                        },
                                        "TerminologyProperties": {
                                            "description": "The properties of the custom terminology being retrieved.",
                                            "properties": {
                                                "Arn": {
                                                    "description": " The Amazon Resource Name (ARN) of the custom terminology. ",
                                                    "pattern": "^arn:aws((-us-gov)|(-cn))?:translate:[a-zA-Z0-9-]+:[0-9]{12}:terminology/.+?/.+?$",
                                                    "type": "string"
                                                },
                                                "CreatedAt": {
                                                    "description": "The time at which the custom terminology was created, based on the timestamp.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description of the custom terminology properties.",
                                                    "maxLength": 256,
                                                    "pattern": "[\\P{M}\\p{M}]{0,256}",
                                                    "type": "string"
                                                },
                                                "EncryptionKey": {
                                                    "description": "The encryption key for the custom terminology.",
                                                    "properties": {
                                                        "Id": {
                                                            "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                                                            "maxLength": 400,
                                                            "minLength": 1,
                                                            "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                                                            "type": "string"
                                                        },
                                                        "Type": {
                                                            "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                                                            "enum": [
                                                                "KMS"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Type",
                                                        "Id"
                                                    ],
                                                    "type": "object"
                                                },
                                                "LastUpdatedAt": {
                                                    "description": "The time at which the custom terminology was last update, based on the timestamp.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name of the custom terminology.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "pattern": "^([A-Za-z0-9-]_?)+$",
                                                    "type": "string"
                                                },
                                                "SizeBytes": {
                                                    "description": "The size of the file used when importing a custom terminology.",
                                                    "type": "integer"
                                                },
                                                "SourceLanguageCode": {
                                                    "description": "The language code for the source text of the translation request for which the custom terminology is being used.",
                                                    "maxLength": 5,
                                                    "minLength": 2,
                                                    "type": "string"
                                                },
                                                "TargetLanguageCodes": {
                                                    "description": "The language codes for the target languages available with the custom terminology file. All possible target languages are returned in array.",
                                                    "items": {
                                                        "maxLength": 5,
                                                        "minLength": 2,
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "TermCount": {
                                                    "description": "The number of terms included in the custom terminology.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "The name of the custom terminology being retrieved.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "^([A-Za-z0-9-]_?)+$",
                                        "type": "string"
                                    },
                                    "TerminologyDataFormat": {
                                        "description": "The data format of the custom terminology being retrieved, either CSV or TMX.",
                                        "enum": [
                                            "CSV",
                                            "TMX"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Name",
                                    "TerminologyDataFormat"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ImportTerminology": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates or updates a custom terminology, depending on whether or not one already exists for the given terminology name. Importing a terminology with the same name as an existing one will merge the terminologies based on the chosen merge strategy. Currently, the only supported merge strategy is OVERWRITE, and so the imported terminology will overwrite an existing terminology of the same name.</p> <p>If you import a terminology that overwrites an existing one, the new terminology take up to 10 minutes to fully propagate and be available for use in a translation due to cache policies with the DataPlane service that performs the translations.</p>",
                "operationId": "ImportTerminology",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "TerminologyProperties": {
                                            "description": "The properties of the custom terminology being imported.",
                                            "properties": {
                                                "Arn": {
                                                    "description": " The Amazon Resource Name (ARN) of the custom terminology. ",
                                                    "pattern": "^arn:aws((-us-gov)|(-cn))?:translate:[a-zA-Z0-9-]+:[0-9]{12}:terminology/.+?/.+?$",
                                                    "type": "string"
                                                },
                                                "CreatedAt": {
                                                    "description": "The time at which the custom terminology was created, based on the timestamp.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "description": "The description of the custom terminology properties.",
                                                    "maxLength": 256,
                                                    "pattern": "[\\P{M}\\p{M}]{0,256}",
                                                    "type": "string"
                                                },
                                                "EncryptionKey": {
                                                    "description": "The encryption key for the custom terminology.",
                                                    "properties": {
                                                        "Id": {
                                                            "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                                                            "maxLength": 400,
                                                            "minLength": 1,
                                                            "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                                                            "type": "string"
                                                        },
                                                        "Type": {
                                                            "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                                                            "enum": [
                                                                "KMS"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "Type",
                                                        "Id"
                                                    ],
                                                    "type": "object"
                                                },
                                                "LastUpdatedAt": {
                                                    "description": "The time at which the custom terminology was last update, based on the timestamp.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name of the custom terminology.",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "pattern": "^([A-Za-z0-9-]_?)+$",
                                                    "type": "string"
                                                },
                                                "SizeBytes": {
                                                    "description": "The size of the file used when importing a custom terminology.",
                                                    "type": "integer"
                                                },
                                                "SourceLanguageCode": {
                                                    "description": "The language code for the source text of the translation request for which the custom terminology is being used.",
                                                    "maxLength": 5,
                                                    "minLength": 2,
                                                    "type": "string"
                                                },
                                                "TargetLanguageCodes": {
                                                    "description": "The language codes for the target languages available with the custom terminology file. All possible target languages are returned in array.",
                                                    "items": {
                                                        "maxLength": 5,
                                                        "minLength": 2,
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "TermCount": {
                                                    "description": "The number of terms included in the custom terminology.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Description": {
                                        "description": "The description of the custom terminology being imported.",
                                        "maxLength": 256,
                                        "pattern": "[\\P{M}\\p{M}]{0,256}",
                                        "type": "string"
                                    },
                                    "EncryptionKey": {
                                        "description": "The encryption key for the custom terminology being imported.",
                                        "properties": {
                                            "Id": {
                                                "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                                                "maxLength": 400,
                                                "minLength": 1,
                                                "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                                                "type": "string"
                                            },
                                            "Type": {
                                                "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                                                "enum": [
                                                    "KMS"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "Type",
                                            "Id"
                                        ],
                                        "type": "object"
                                    },
                                    "MergeStrategy": {
                                        "description": "The merge strategy of the custom terminology being imported. Currently, only the OVERWRITE merge strategy is supported. In this case, the imported terminology will overwrite an existing terminology of the same name.",
                                        "enum": [
                                            "OVERWRITE"
                                        ],
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "The name of the custom terminology being imported.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "pattern": "^([A-Za-z0-9-]_?)+$",
                                        "type": "string"
                                    },
                                    "TerminologyData": {
                                        "description": "The terminology data for the custom terminology being imported.",
                                        "properties": {
                                            "File": {
                                                "description": "The file containing the custom terminology data.",
                                                "format": "password",
                                                "maxLength": 10485760,
                                                "type": "string"
                                            },
                                            "Format": {
                                                "description": "The data format of the custom terminology. Either CSV or TMX.",
                                                "enum": [
                                                    "CSV",
                                                    "TMX"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "File",
                                            "Format"
                                        ],
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "Name",
                                    "MergeStrategy",
                                    "TerminologyData"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#ListTerminologies": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Provides a list of custom terminologies associated with your account.",
                "operationId": "ListTerminologies",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": " If the response to the ListTerminologies was truncated, the NextToken fetches the next group of custom terminologies. ",
                                            "maxLength": 8192,
                                            "pattern": "\\p{ASCII}{0,8192}",
                                            "type": "string"
                                        },
                                        "TerminologyPropertiesList": {
                                            "description": "The properties list of the custom terminologies returned on the list request.",
                                            "items": {
                                                "description": "The properties of the custom terminology.",
                                                "properties": {
                                                    "Arn": {
                                                        "description": " The Amazon Resource Name (ARN) of the custom terminology. ",
                                                        "pattern": "^arn:aws((-us-gov)|(-cn))?:translate:[a-zA-Z0-9-]+:[0-9]{12}:terminology/.+?/.+?$",
                                                        "type": "string"
                                                    },
                                                    "CreatedAt": {
                                                        "description": "The time at which the custom terminology was created, based on the timestamp.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Description": {
                                                        "description": "The description of the custom terminology properties.",
                                                        "maxLength": 256,
                                                        "pattern": "[\\P{M}\\p{M}]{0,256}",
                                                        "type": "string"
                                                    },
                                                    "EncryptionKey": {
                                                        "description": "The encryption key for the custom terminology.",
                                                        "properties": {
                                                            "Id": {
                                                                "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                                                                "maxLength": 400,
                                                                "minLength": 1,
                                                                "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                                                                "type": "string"
                                                            },
                                                            "Type": {
                                                                "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                                                                "enum": [
                                                                    "KMS"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Type",
                                                            "Id"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "LastUpdatedAt": {
                                                        "description": "The time at which the custom terminology was last update, based on the timestamp.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The name of the custom terminology.",
                                                        "maxLength": 256,
                                                        "minLength": 1,
                                                        "pattern": "^([A-Za-z0-9-]_?)+$",
                                                        "type": "string"
                                                    },
                                                    "SizeBytes": {
                                                        "description": "The size of the file used when importing a custom terminology.",
                                                        "type": "integer"
                                                    },
                                                    "SourceLanguageCode": {
                                                        "description": "The language code for the source text of the translation request for which the custom terminology is being used.",
                                                        "maxLength": 5,
                                                        "minLength": 2,
                                                        "type": "string"
                                                    },
                                                    "TargetLanguageCodes": {
                                                        "description": "The language codes for the target languages available with the custom terminology file. All possible target languages are returned in array.",
                                                        "items": {
                                                            "maxLength": 5,
                                                            "minLength": 2,
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "TermCount": {
                                                        "description": "The number of terms included in the custom terminology.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "MaxResults": {
                                        "description": "The maximum number of custom terminologies returned per list request.",
                                        "maximum": 500,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "If the result of the request to ListTerminologies was truncated, include the NextToken to fetch the next group of custom terminologies. ",
                                        "maxLength": 8192,
                                        "pattern": "\\p{ASCII}{0,8192}",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#TranslateText": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Translates input text from the source language to the target language. It is not necessary to use English (en) as either the source or the target language but not all language combinations are supported by Amazon Translate. For more information, see <a href=\"http://docs.aws.amazon.com/translate/latest/dg/pairs.html\">Supported Language Pairs</a>.</p> <ul> <li> <p>Arabic (ar)</p> </li> <li> <p>Chinese (Simplified) (zh)</p> </li> <li> <p>Chinese (Traditional) (zh-TW)</p> </li> <li> <p>Czech (cs)</p> </li> <li> <p>Danish (da)</p> </li> <li> <p>Dutch (nl)</p> </li> <li> <p>English (en)</p> </li> <li> <p>Finnish (fi)</p> </li> <li> <p>French (fr)</p> </li> <li> <p>German (de)</p> </li> <li> <p>Hebrew (he)</p> </li> <li> <p>Indonesian (id)</p> </li> <li> <p>Italian (it)</p> </li> <li> <p>Japanese (ja)</p> </li> <li> <p>Korean (ko)</p> </li> <li> <p>Polish (pl)</p> </li> <li> <p>Portuguese (pt)</p> </li> <li> <p>Russian (ru)</p> </li> <li> <p>Spanish (es)</p> </li> <li> <p>Swedish (sv)</p> </li> <li> <p>Turkish (tr)</p> </li> </ul> <p>To have Amazon Translate determine the source language of your text, you can specify <code>auto</code> in the <code>SourceLanguageCode</code> field. If you specify <code>auto</code>, Amazon Translate will call Amazon Comprehend to determine the source language.</p>",
                "operationId": "TranslateText",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "AppliedTerminologies": {
                                            "description": "The names of the custom terminologies applied to the input text by Amazon Translate for the translated text response.",
                                            "items": {
                                                "description": "The custom terminology applied to the input text by Amazon Translate for the translated text response. This is optional in the response and will only be present if you specified terminology input in the request. Currently, only one terminology can be applied per TranslateText request.",
                                                "properties": {
                                                    "Name": {
                                                        "description": "The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.",
                                                        "maxLength": 256,
                                                        "minLength": 1,
                                                        "pattern": "^([A-Za-z0-9-]_?)+$",
                                                        "type": "string"
                                                    },
                                                    "Terms": {
                                                        "description": "The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. ",
                                                        "items": {
                                                            "description": "The term being translated by the custom terminology.",
                                                            "properties": {
                                                                "SourceText": {
                                                                    "description": "The source text of the term being translated by the custom terminology.",
                                                                    "maxLength": 10000,
                                                                    "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                                                    "type": "string"
                                                                },
                                                                "TargetText": {
                                                                    "description": "The target text of the term being translated by the custom terminology.",
                                                                    "maxLength": 10000,
                                                                    "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "SourceLanguageCode": {
                                            "description": "The language code for the language of the source text. ",
                                            "maxLength": 5,
                                            "minLength": 2,
                                            "type": "string"
                                        },
                                        "TargetLanguageCode": {
                                            "description": "The language code for the language of the target text. ",
                                            "maxLength": 5,
                                            "minLength": 2,
                                            "type": "string"
                                        },
                                        "TranslatedText": {
                                            "description": "The the translated text. The maximum length of this text is 5kb.",
                                            "maxLength": 10000,
                                            "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "TranslatedText",
                                        "SourceLanguageCode",
                                        "TargetLanguageCode"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "TextSizeLimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "TooManyRequestsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "UnsupportedLanguagePairException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "DetectedLanguageLowConfidenceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ServiceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "SourceLanguageCode": {
                                        "description": "<p>The language code for the language of the source text. The language must be a language supported by Amazon Translate. </p> <p>To have Amazon Translate determine the source language of your text, you can specify <code>auto</code> in the <code>SourceLanguageCode</code> field. If you specify <code>auto</code>, Amazon Translate will call Amazon Comprehend to determine the source language.</p>",
                                        "maxLength": 5,
                                        "minLength": 2,
                                        "type": "string"
                                    },
                                    "TargetLanguageCode": {
                                        "description": "The language code requested for the language of the target text. The language must be a language supported by Amazon Translate.",
                                        "maxLength": 5,
                                        "minLength": 2,
                                        "type": "string"
                                    },
                                    "TerminologyNames": {
                                        "description": "The TerminologyNames list that is taken as input to the TranslateText request. This has a minimum length of 0 and a maximum length of 1.",
                                        "items": {
                                            "maxLength": 256,
                                            "minLength": 1,
                                            "pattern": "^([A-Za-z0-9-]_?)+$",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "Text": {
                                        "description": "The text to translate. The text string can be a maximum of 5,000 bytes long. Depending on your character set, this may be fewer than 5,000 characters.",
                                        "maxLength": 5000,
                                        "minLength": 1,
                                        "pattern": "[\\P{M}\\p{M}]{1,5000}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Text",
                                    "SourceLanguageCode",
                                    "TargetLanguageCode"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AppliedTerminology": {
                "description": "The custom terminology applied to the input text by Amazon Translate for the translated text response. This is optional in the response and will only be present if you specified terminology input in the request. Currently, only one terminology can be applied per TranslateText request.",
                "properties": {
                    "Name": {
                        "description": "The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.",
                        "maxLength": 256,
                        "minLength": 1,
                        "pattern": "^([A-Za-z0-9-]_?)+$",
                        "type": "string"
                    },
                    "Terms": {
                        "description": "The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. ",
                        "items": {
                            "description": "The term being translated by the custom terminology.",
                            "properties": {
                                "SourceText": {
                                    "description": "The source text of the term being translated by the custom terminology.",
                                    "maxLength": 10000,
                                    "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                    "type": "string"
                                },
                                "TargetText": {
                                    "description": "The target text of the term being translated by the custom terminology.",
                                    "maxLength": 10000,
                                    "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "AppliedTerminologyList": {
                "items": {
                    "description": "The custom terminology applied to the input text by Amazon Translate for the translated text response. This is optional in the response and will only be present if you specified terminology input in the request. Currently, only one terminology can be applied per TranslateText request.",
                    "properties": {
                        "Name": {
                            "description": "The name of the custom terminology applied to the input text by Amazon Translate for the translated text response.",
                            "maxLength": 256,
                            "minLength": 1,
                            "pattern": "^([A-Za-z0-9-]_?)+$",
                            "type": "string"
                        },
                        "Terms": {
                            "description": "The specific terms of the custom terminology applied to the input text by Amazon Translate for the translated text response. A maximum of 250 terms will be returned, and the specific terms applied will be the first 250 terms in the source text. ",
                            "items": {
                                "description": "The term being translated by the custom terminology.",
                                "properties": {
                                    "SourceText": {
                                        "description": "The source text of the term being translated by the custom terminology.",
                                        "maxLength": 10000,
                                        "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                        "type": "string"
                                    },
                                    "TargetText": {
                                        "description": "The target text of the term being translated by the custom terminology.",
                                        "maxLength": 10000,
                                        "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            },
            "BoundedLengthString": {
                "maxLength": 5000,
                "minLength": 1,
                "pattern": "[\\P{M}\\p{M}]{1,5000}",
                "type": "string"
            },
            "DeleteTerminologyRequest": {
                "properties": {
                    "Name": {
                        "description": "The name of the custom terminology being deleted. ",
                        "maxLength": 256,
                        "minLength": 1,
                        "pattern": "^([A-Za-z0-9-]_?)+$",
                        "type": "string"
                    }
                },
                "required": [
                    "Name"
                ],
                "type": "object"
            },
            "Description": {
                "maxLength": 256,
                "pattern": "[\\P{M}\\p{M}]{0,256}",
                "type": "string"
            },
            "DetectedLanguageLowConfidenceException": {},
            "EncryptionKey": {
                "description": "The encryption key used to encrypt the custom terminologies used by Amazon Translate.",
                "properties": {
                    "Id": {
                        "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                        "maxLength": 400,
                        "minLength": 1,
                        "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                        "type": "string"
                    },
                    "Type": {
                        "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                        "enum": [
                            "KMS"
                        ],
                        "type": "string"
                    }
                },
                "required": [
                    "Type",
                    "Id"
                ],
                "type": "object"
            },
            "EncryptionKeyID": {
                "maxLength": 400,
                "minLength": 1,
                "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                "type": "string"
            },
            "EncryptionKeyType": {
                "enum": [
                    "KMS"
                ],
                "type": "string"
            },
            "GetTerminologyRequest": {
                "properties": {
                    "Name": {
                        "description": "The name of the custom terminology being retrieved.",
                        "maxLength": 256,
                        "minLength": 1,
                        "pattern": "^([A-Za-z0-9-]_?)+$",
                        "type": "string"
                    },
                    "TerminologyDataFormat": {
                        "description": "The data format of the custom terminology being retrieved, either CSV or TMX.",
                        "enum": [
                            "CSV",
                            "TMX"
                        ],
                        "type": "string"
                    }
                },
                "required": [
                    "Name",
                    "TerminologyDataFormat"
                ],
                "type": "object"
            },
            "GetTerminologyResponse": {
                "properties": {
                    "TerminologyDataLocation": {
                        "description": "The data location of the custom terminology being retrieved. The custom terminology file is returned in a presigned url that has a 30 minute expiration.",
                        "properties": {
                            "Location": {
                                "description": "The location of the custom terminology data.",
                                "maxLength": 10000,
                                "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                "type": "string"
                            },
                            "RepositoryType": {
                                "description": "The repository type for the custom terminology data.",
                                "maxLength": 10000,
                                "pattern": "[\\P{M}\\p{M}]{0,10000}",
                                "type": "string"
                            }
                        },
                        "required": [
                            "RepositoryType",
                            "Location"
                        ],
                        "type": "object"
                    },
                    "TerminologyProperties": {
                        "description": "The properties of the custom terminology being retrieved.",
                        "properties": {
                            "Arn": {
                                "description": " The Amazon Resource Name (ARN) of the custom terminology. ",
                                "pattern": "^arn:aws((-us-gov)|(-cn))?:translate:[a-zA-Z0-9-]+:[0-9]{12}:terminology/.+?/.+?$",
                                "type": "string"
                            },
                            "CreatedAt": {
                                "description": "The time at which the custom terminology was created, based on the timestamp.",
                                "format": "date-time",
                                "type": "string"
                            },
                            "Description": {
                                "description": "The description of the custom terminology properties.",
                                "maxLength": 256,
                                "pattern": "[\\P{M}\\p{M}]{0,256}",
                                "type": "string"
                            },
                            "EncryptionKey": {
                                "description": "The encryption key for the custom terminology.",
                                "properties": {
                                    "Id": {
                                        "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                                        "maxLength": 400,
                                        "minLength": 1,
                                        "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                                        "type": "string"
                                    },
                                    "Type": {
                                        "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                                        "enum": [
                                            "KMS"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Type",
                                    "Id"
                                ],
                                "type": "object"
                            },
                            "LastUpdatedAt": {
                                "description": "The time at which the custom terminology was last update, based on the timestamp.",
                                "format": "date-time",
                                "type": "string"
                            },
                            "Name": {
                                "description": "The name of the custom terminology.",
                                "maxLength": 256,
                                "minLength": 1,
                                "pattern": "^([A-Za-z0-9-]_?)+$",
                                "type": "string"
                            },
                            "SizeBytes": {
                                "description": "The size of the file used when importing a custom terminology.",
                                "type": "integer"
                            },
                            "SourceLanguageCode": {
                                "description": "The language code for the source text of the translation request for which the custom terminology is being used.",
                                "maxLength": 5,
                                "minLength": 2,
                                "type": "string"
                            },
                            "TargetLanguageCodes": {
                                "description": "The language codes for the target languages available with the custom terminology file. All possible target languages are returned in array.",
                                "items": {
                                    "maxLength": 5,
                                    "minLength": 2,
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "TermCount": {
                                "description": "The number of terms included in the custom terminology.",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "ImportTerminologyRequest": {
                "properties": {
                    "Description": {
                        "description": "The description of the custom terminology being imported.",
                        "maxLength": 256,
                        "pattern": "[\\P{M}\\p{M}]{0,256}",
                        "type": "string"
                    },
                    "EncryptionKey": {
                        "description": "The encryption key for the custom terminology being imported.",
                        "properties": {
                            "Id": {
                                "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                                "maxLength": 400,
                                "minLength": 1,
                                "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                                "type": "string"
                            },
                            "Type": {
                                "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                                "enum": [
                                    "KMS"
                                ],
                                "type": "string"
                            }
                        },
                        "required": [
                            "Type",
                            "Id"
                        ],
                        "type": "object"
                    },
                    "MergeStrategy": {
                        "description": "The merge strategy of the custom terminology being imported. Currently, only the OVERWRITE merge strategy is supported. In this case, the imported terminology will overwrite an existing terminology of the same name.",
                        "enum": [
                            "OVERWRITE"
                        ],
                        "type": "string"
                    },
                    "Name": {
                        "description": "The name of the custom terminology being imported.",
                        "maxLength": 256,
                        "minLength": 1,
                        "pattern": "^([A-Za-z0-9-]_?)+$",
                        "type": "string"
                    },
                    "TerminologyData": {
                        "description": "The terminology data for the custom terminology being imported.",
                        "properties": {
                            "File": {
                                "description": "The file containing the custom terminology data.",
                                "format": "password",
                                "maxLength": 10485760,
                                "type": "string"
                            },
                            "Format": {
                                "description": "The data format of the custom terminology. Either CSV or TMX.",
                                "enum": [
                                    "CSV",
                                    "TMX"
                                ],
                                "type": "string"
                            }
                        },
                        "required": [
                            "File",
                            "Format"
                        ],
                        "type": "object"
                    }
                },
                "required": [
                    "Name",
                    "MergeStrategy",
                    "TerminologyData"
                ],
                "type": "object"
            },
            "ImportTerminologyResponse": {
                "properties": {
                    "TerminologyProperties": {
                        "description": "The properties of the custom terminology being imported.",
                        "properties": {
                            "Arn": {
                                "description": " The Amazon Resource Name (ARN) of the custom terminology. ",
                                "pattern": "^arn:aws((-us-gov)|(-cn))?:translate:[a-zA-Z0-9-]+:[0-9]{12}:terminology/.+?/.+?$",
                                "type": "string"
                            },
                            "CreatedAt": {
                                "description": "The time at which the custom terminology was created, based on the timestamp.",
                                "format": "date-time",
                                "type": "string"
                            },
                            "Description": {
                                "description": "The description of the custom terminology properties.",
                                "maxLength": 256,
                                "pattern": "[\\P{M}\\p{M}]{0,256}",
                                "type": "string"
                            },
                            "EncryptionKey": {
                                "description": "The encryption key for the custom terminology.",
                                "properties": {
                                    "Id": {
                                        "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                                        "maxLength": 400,
                                        "minLength": 1,
                                        "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                                        "type": "string"
                                    },
                                    "Type": {
                                        "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                                        "enum": [
                                            "KMS"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "Type",
                                    "Id"
                                ],
                                "type": "object"
                            },
                            "LastUpdatedAt": {
                                "description": "The time at which the custom terminology was last update, based on the timestamp.",
                                "format": "date-time",
                                "type": "string"
                            },
                            "Name": {
                                "description": "The name of the custom terminology.",
                                "maxLength": 256,
                                "minLength": 1,
                                "pattern": "^([A-Za-z0-9-]_?)+$",
                                "type": "string"
                            },
                            "SizeBytes": {
                                "description": "The size of the file used when importing a custom terminology.",
                                "type": "integer"
                            },
                            "SourceLanguageCode": {
                                "description": "The language code for the source text of the translation request for which the custom terminology is being used.",
                                "maxLength": 5,
                                "minLength": 2,
                                "type": "string"
                            },
                            "TargetLanguageCodes": {
                                "description": "The language codes for the target languages available with the custom terminology file. All possible target languages are returned in array.",
                                "items": {
                                    "maxLength": 5,
                                    "minLength": 2,
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "TermCount": {
                                "description": "The number of terms included in the custom terminology.",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "Integer": {
                "type": "integer"
            },
            "InternalServerException": {},
            "InvalidParameterValueException": {},
            "InvalidRequestException": {},
            "LanguageCodeString": {
                "maxLength": 5,
                "minLength": 2,
                "type": "string"
            },
            "LanguageCodeStringList": {
                "items": {
                    "maxLength": 5,
                    "minLength": 2,
                    "type": "string"
                },
                "type": "array"
            },
            "LimitExceededException": {},
            "ListTerminologiesRequest": {
                "properties": {
                    "MaxResults": {
                        "description": "The maximum number of custom terminologies returned per list request.",
                        "maximum": 500,
                        "minimum": 1,
                        "type": "integer"
                    },
                    "NextToken": {
                        "description": "If the result of the request to ListTerminologies was truncated, include the NextToken to fetch the next group of custom terminologies. ",
                        "maxLength": 8192,
                        "pattern": "\\p{ASCII}{0,8192}",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ListTerminologiesResponse": {
                "properties": {
                    "NextToken": {
                        "description": " If the response to the ListTerminologies was truncated, the NextToken fetches the next group of custom terminologies. ",
                        "maxLength": 8192,
                        "pattern": "\\p{ASCII}{0,8192}",
                        "type": "string"
                    },
                    "TerminologyPropertiesList": {
                        "description": "The properties list of the custom terminologies returned on the list request.",
                        "items": {
                            "description": "The properties of the custom terminology.",
                            "properties": {
                                "Arn": {
                                    "description": " The Amazon Resource Name (ARN) of the custom terminology. ",
                                    "pattern": "^arn:aws((-us-gov)|(-cn))?:translate:[a-zA-Z0-9-]+:[0-9]{12}:terminology/.+?/.+?$",
                                    "type": "string"
                                },
                                "CreatedAt": {
                                    "description": "The time at which the custom terminology was created, based on the timestamp.",
                                    "format": "date-time",
                                    "type": "string"
                                },
                                "Description": {
                                    "description": "The description of the custom terminology properties.",
                                    "maxLength": 256,
                                    "pattern": "[\\P{M}\\p{M}]{0,256}",
                                    "type": "string"
                                },
                                "EncryptionKey": {
                                    "description": "The encryption key for the custom terminology.",
                                    "properties": {
                                        "Id": {
                                            "description": "The Amazon Resource Name (ARN) of the encryption key being used to encrypt the custom terminology.",
                                            "maxLength": 400,
                                            "minLength": 1,
                                            "pattern": "(arn:aws((-us-gov)|(-cn))?:kms:)?([a-z]{2}-[a-z]+-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))",
                                            "type": "string"
                                        },
                                        "Type": {
                                            "description": "The type of encryption key used by Amazon Translate to encrypt custom terminologies.",
                                            "enum": [
                                                "KMS"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "Type",
                                        "Id"
                                    ],
                                    "type": "object"
                                },
                                "LastUpdatedAt": {
                                    "description": "The time at which the custom terminology was last update, based on the timestamp.",
                                    "format": "date-time",
                                    "type": "string"
                                },
                                "Name": {
                                    "description": "The name of the custom terminology.",
                                    "maxLength": 256,
                                    "minLength": 1,
                                    "pattern": "^([A-Za-z0-9-]_?)+$",
                                    "type": "string"
                                },
                                "SizeBytes": {
                                    "description": "The size of the file used when importing a custom terminology.",
                                    "type": "integer"
                                },
                                "SourceLanguageCode": {
                                    "description": "The language code for the source text of the translation request for which the custom terminology is being used.",
                                    "maxLength": 5,
                                    "minLength": 2,
                                    "type": "string"
                                },
                                "TargetLanguageCodes": {
                                    "description": "The language codes for the target languages available with the custom terminology file. All possible target languages are returned in array.",
                                    "items": {
                                        "maxLength": 5,
                                        "minLength": 2,
                                        "type": "string"
                                    },
                                    "type": "array"
                                },
                                "TermCount": {
                                    "description": "The number of terms included in the custom terminology.",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "MaxResultsInteger": {
                "maximum": 500,
                "minimum": 1,
                "type": "integer"
            },
            "MergeStrategy": {
                "enum": [
                    "OVERWRITE"
                ],
                "type": "string"
            },
            "NextToken": {
                "maxLength": 8192,
                "pattern": "\\p{ASCII}{0,8192}",
                "type": "string"
            },
            "ResourceName": {
                "maxLength": 256,
                "minLength": 1,
                "pattern": "^([A-Za-z0-9-]_?)+$",
                "type": "string"
            },
            "ResourceNameList": {
                "items": {
                    "maxLength": 256,
                    "minLength": 1,
                    "pattern": "^([A-Za-z0-9-]_?)+$",
                    "type": "string"
                },
                "type": "array"
            },
            "ResourceNotFoundException": {},
            "ServiceUnavailableException": {},
            "String": {
                "maxLength": 10000,
                "pattern": "[\\P{M}\\p{M}]{0,10000}",
                "type": "string"
            },
            "Term": {
                "description": "The term being translated by the custom terminology.",
                "properties": {
                    "SourceText": {
                        "description": "The source text of the term being translated by the custom terminology.",
                        "maxLength": 10000,
                        "pattern": "[\\P{M}\\p{M}]{0,10000}",
                        "type": "string"
                    },
                    "TargetText": {
                        "description": "The target text of the term being translated by the custom terminology.",
                        "maxLength": 10000,
                        "pattern": "[\\P{M}\\p{M}]{0,10000}",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "TermList": {
                "items": {
                    "description": "The term being translated by the custom terminology.",
                    "properties": {
                        "SourceText": {
                            "description": "The source text of the term being translated by the custom terminology.",
                            "maxLength": 10000,
                            "pattern": "[\\P{M}\\p{M}]{0,10000}",
                            "type": "string"
                        },
                        "TargetText": {
                            "description": "The target text of the term being translated by the custom terminology.",
                            "maxLength": 10000,
                            "pattern": "[\\P{M}\\p{M}]{0,10000}",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "type": "array"
            },
            "TerminologyArn": {
                "pattern": "^arn:aws((-us-gov)|(-cn))?:translate:[a-zA-Z0-9-]+:[0-9]{12}:terminology/.+?/.+?$",
                "type": "string"
            },
            "TerminologyData": {
                "description": "The data associated with the custom terminology.",
                "properties": {
                    "File": {
                        "description": "The file containing the custom terminology data.",
                        "format": "password",
                        "maxLength": 10485760,
                        "type": "string"
                    },
                    "Format": {
                        "description": "The data format of the custom terminology. Either CSV or TMX.",
                        "enum": [
                            "CSV",
                            "TMX"
                        ],
                        "type": "string"
                    }
                },
                "required": [
                    "File",
                    "Format"
[...]
